.App {
  text-align: center;
  background: url("./bgImage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.shape {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: -165px;
  -webkit-transform-origin: right;
  transform-origin: right;
  transform: skewX(-18deg);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > div {
  z-index: 10;
}

.App-header > div > h1 {
  font-weight: 300;
  margin: 0;
}

.App-header > div > p {
  font-weight: 200;
  font-size: 0.8em;
  max-width: 50vh;
  margin: 0.5em 0 2em 0;
}
